/*
display:inline;

Permite eles se posicionarem um do lado do outro, o problema do display: inline é que os elementos não aceitam mais que seja modificada tanto a width quanto a height. Isso limita MUITO nossas possibilidades.

 display: inline-block;

 Permite os elementos se posicionarem um do lado do outro porém, diferentemente do display: inline ele permite que os elementos tenham sua width e height modificadas. Por esse motivo o display: inline-block é muito mais interessante na maioria dos casos do que o display: inline.
O problema de usar display: inline-block é espaçar os elementos entre si. Para fazer isso teríamos que colocar margins e fazer contas.

float: left | right

O float é mais complicado, ele empurra o elemento para um dos lados (left | right) e os elementos que estão embaixo sobem. Isso nem sempre é o que a gente quer. Além do mais o float não permite que usemos a propriedade vertical-align: middle para alinhar os elementos verticalmente. Ou seja, para contornar isso uma possibilidade seria ter que colocar margin-top ou bottom nos elementos e usar os temidos números mágicos!

display: flex

O display: flex veio com o intuito de facilitar nossa vida nesses aspectos de posicionamento. Ele permite os elementos ficarem um do lado do outro, permite espaçar os elementos de forma mais intuitiva e sem ter que fazer cálculos. Além disso ele também permite alinhar os elementos verticalmente de forma fácil.

O display flex pode ser um pouco mais complicado de usar tendo em vista que existem diversas propriedades que vem junto da especificação flexible box, todavia tudo isso foi feito para justamente melhorar nosso código.

 align-items: center; Alinhar os itens dentro do container no centro
 justify-content: space-between; Espaço entre os elementos

 flex-direction: column;

 Um item de baixo do outro

 flex-wrap: wrap;

 Quebra de linha quando não der mais no elemento pai

 flex-flow: column wrap;

 subsitui os elementos flex-wrap e flex-direction

 :nth-child(4n+1) 

 Pega tudo mulstiplo de 4+1
 */

.cabecalhoPrincipal .container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 250px;

}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;

}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;

}

.videoSobre .container {
    display: flex;

}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2; 
}

/*-----Parte mobile-------*/

/*parte mobile*/
@media(max-width: 768px){


.cabecalhoPrincipal-nav {
    flex-direction:column;
}

.cabecalhoPrincipal .container{
    flex-direction: column;  
    align-items: initial;
    text-align: center;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
}

.conteudoPrincipal-cursos-link {
    width:100%;
}

.rodapePrincipal-navMap-list {
    height: auto;
}

.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
}

.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
}

.rodapePrincipal-contatoForm {
    width: 100%;
}

.rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;

}

.rodapePrincipal-contatoForm-fieldset {
    justify-content:center
}

.videoSobre .container {
    flex-direction: column;
}

.videoSobre-video {
    margin: 0 auto;
}

}